<!DOCTYPE html>
<html>
<head>
 <title>Success</title>
</head>
<body>
 <h1>Registration Successful BRO
    !</h1>
 <p>Thank you, <strong><%= name %></strong>.</p>
 <p>A confirmation email has been sent to <strong><%= email %></strong>.</p>
</body>
</html>
